.view__toggle {
    text-align: center;
    background: #F8F8FA;
    max-width: 550px;
    margin: 1rem auto;
    border-radius: 50px;
    padding: .5rem;

    button {
        color: grey;
        font-weight: 600;
        padding: 10px 24px;
        font-size: 18px;
        border: none;
        background: transparent;
    }

    .active {
        background: #5800F2;
        color: #fff;
        font-weight: 900;
        border-radius: 16px;
    }
}