.container {
    max-width: 100vw;
    margin: auto;
    font-family: Arial, sans-serif;
}

.container__appbar {
    // background: #F8F8FA;
    background: #6e6086;
    padding: 1rem 0;
    color: #fff;
    text-align: center;
}